<section id="`">
    <section class="wrapper">
		  <h2>Welcome {{user.name.first}} {{user.name.last}}</h2>
	<!-- <div>{{user}}</div -->
	
 	  </section>

<h3>Favorites:</h3>
 <div class="user-heading alt gray-bg" ng-repeat="favorite in user.myFaves">
    <a href="#">
      <img alt="" ng-src="{{favorite.photo.url}}">
    </a>
      <h1>{{favorite.name.first}} {{favorite.name.last}}</h1>
          <p>{{favorite.area}}</p>

           <button type="button" class="btn btn-info" ng-click="removeFromFave(favorite)">Delete</button>
 </div>
       






