
    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->

            <!-- 1 profile -->
            <div class="col-md-6" ng-repeat="guider in guiders" >
                <section class="panel">
                    <div class="panel-body profile-information">
                       <div class="col-md-4">
                           <div class="profile-pic text-center">
                               <img src="images/lock_thumb.jpg" alt="">
                           </div>
                       </div>
                       <div class="col-md-8">
                           <div class="profile-desk">
                               <h1 ng-click="viewGuider(guider)">{{guider.name.first}} {{guider.name.last}}</h1>
                               <span class="text-muted">Product Manager</span>
                               <p>
                                   {{guider.biography}}
                               </p>
                            </div>   
                        </div>   
                    </div>   
                </section>       
            </div><!-- end col 6 -->

            
		</section>
	</section>
            <!-- start tabs -->
            
                       