    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper mainpagePic">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="home-hearder">Get around, with some help from a friend.</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                <select class="form-control m-bot15" ng-model="guiderProperties" ng-options="area.name for area in areas">
                    <option value="">All</option>
                              
                </select>

                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <button class="btn btn-lg btn-login btn-block submit-button" type="submit" ng-click="searchGuider()">Submit</button>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
<!--=======================================================================================-->

<div class="container servicos-oferecido">
    <div class="col-md-4 box one-third first">
        <a href="#"><div class="circle-icon"><i class="fa fa-search iconi"></i></div></a>
         <h3 class="centralizar">Look for a Guider</h3>
        <p>In vitae ultricies lectus, non accumsan purus. Etiam ut vulputate risus, vitae tempor libero. Nulla id congue lacus, ac imperdiet nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>
 
    <div class="col-md-4 box one-third">
        <a href="#"><div class="circle-icon"> <i class="fa fa-pencil-square-o iconi"></i></div></a>
         <h3 class="centralizar">Services</h3>
        <p>Nulla pharetra laoreet tortor at consectetur. Nunc pharetra aliquet sapien quis pellentesque. Sed pharetra tincidunt enim eu sodales. Nulla molestie lorem at faucibus aliquam. Aliquam nec sagittis leo.
        </p>
    </div>
 
    <div class="col-md-4 box one-third">
        <a href="#"><div class="circle-icon"><i class="fa fa-comments-o iconi"></i></div></a>
         <h3 class="centralizar">Contact</h3>
    <p>Nulla facilisi. Fusce pellentesque consequat libero, a malesuada arcu consequat et. Pellentesque consequat nisl eget libero vestibulum vestibulum vitae vitae dolor. Maecenas sed lorem venenatis, ultricies purus at, fringilla ipsum.
    </p>
    </div>
</div>
