    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper mainpagePic">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="home-hearder">Get around, with some help from a friend.</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                <select class="form-control m-bot15" ng-model="guiderProperties" ng-options="area.name for area in areas">
                    <option value="">All</option>
                              
                </select>

                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <button class="btn btn-lg btn-login btn-block submit-button" type="submit" ng-click="searchGuider()">Submit</button>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>



