    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper mainpagePic">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="home-hearder">Get around, with some help from a friend.</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="input-group m-bot15" >
                        <input type="text" class="form-control" ng-model="guiderProperties">
                          <span class="input-group-btn">
                            <button class="btn btn-teal"  ng-click="searchGuider()"type="button">Go!</button>
                          </span>
                    </div>
                </div>
            </div>

            <!-- page end-->
        </section>
    </section>


