    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->

            <!-- profile top -->
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body profile-information">
                       <div class="col-md-3">
                           <div class="profile-pic text-center">
                               <img ng-src={{guider.photo.u}} alt="">
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="profile-desk">
                               <h1>{{guider.name.first}} {{guider.name.last}}
                               </h1>
                               <span class="text-muted">Product Manager</span>
                               <p>{{guider.biography}}
                    
                               </p>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="profile-statistics">
                               <h1>1240</h1>
                               <p>This Week Sales</p>
                               <h1>$5,61,240</h1>
                               <p>This Week Earn</p>
                               <ul>
                                   <li>
                                       <a href="#">
                                           <i class="fa fa-facebook"></i>
                                       </a>
                                   </li>
                                   <li class="active">
                                       <a href="#">
                                           <i class="fa fa-twitter"></i>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <i class="fa fa-google-plus"></i>
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                    </div><!-- end panel body -->
                </section>
            </div><!-- end col 12 -->

            <!-- start tabs -->
            <div class="col-md-12">
            <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a data-toggle="tab" href="profile.html#skills">
                                    Skills
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="profile.html#experience">
                                    Experience
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="profile.html#contact">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">

                            <div id="skills" class="tab-pane active">
                                <div class="row">
                                Hello Skills

                                    
                                </div>
                             </div>   
                            <div id="experience" class="tab-pane">
                                <div class="row">
                                    Hello Experience
                                </div>
                            </div>


                            <div id="contact" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="prf-contacts">
                                            <h2> <span><i class="fa fa-map-marker"></i></span> Location</h2>
                                            <div class="location-info">
                                                <p>Postal Address<br>
                                                    PO Box 16122 Collins Street West<br>
                                                    Victoria 8007 Australia</p>
                                                <p>Headquarters<br>
                                                    121 King Street, Melbourne<br>
                                                    Victoria 3000 Australia</p>
                                            </div>
                                        </div>
                                    </div>   

                                    <div class="col-md-6">
                                        <div class="prf-contacts">     
                                            <h2> <span><i class="fa fa-phone"></i></span> contacts</h2>
                                            <div class="location-info">
                                                <p>Phone    : +61 3 8376 6284 <br>
                                                    Cell        : +61 3 8376 6284</p>
                                                <p>Email        : david@themebucket.net<br>
                                                    Skype       : david.rojormillan</p>
                                                <p>
                                                    Facebook    : https://www.facebook.com/themebuckets <br>
                                                    Twitter : https://twitter.com/theme_bucket
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                  </div> 
                                </div>
                          </div>

                        </div>
                    </div><!-- end panel-body -->
            </section>
            </div><!-- end col 12 -->

            <!-- page end-->
        </section>
    </section>