    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->

            <!-- profile top -->
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body profile-information">
                       <div class="col-md-3">
                           <div class="profile-pic text-center main-profile-pic">
                               <img ng-src="{{guider.photo.url}}" alt="">
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="profile-desk">
                               <h1>{{guider.name.first}} {{guider.name.last}}
                               </h1>
                               <span class="text-muted">{{guider.area}}</span>
                               <p>{{guider.biography}}
                    
                               </p>
                               <button ng-if="loggedIn" type="button" class="btn add-to-favorite" ng-click="addFave()"> <i class="fa fa-plus"></i>Add to Favorite</button> 
                               <p ng-if="message">{{message}}</p>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="profile-statistics">
                               <h1><i class="fa fa-circle-o" id="active" ng-class="{'is-active': active, 'not-active': !active}"></i> Active</h1>
                               <p></p>
                               <h1>{{guider.address.state}}</h1>
                               <p>{{guider.address.city}}</p>
                               <ul>
                                   <!-- <li>
                                       <a href="#">
                                           <i class="fa fa-facebook"></i>
                                       </a>
                                   </li>
                                   <li class="active">
                                       <a href="#">
                                           <i class="fa fa-twitter"></i>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <i class="fa fa-google-plus"></i>
                                       </a>
                                   </li> -->
                               </ul>
                           </div>
                       </div>
                    </div><!-- end panel body -->
                </section>
            </div><!-- end col 12 -->

            <!-- start tabs -->
            <div class="col-md-12">
            <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a data-toggle="tab" href="profile.html#skills">
                                    Skills
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="profile.html#experience">
                                    Experience
                                </a>
                            </li>
                            <li class="" >
                                <a data-toggle="tab" ng-click="privateInfo()" href="profile.html#contact">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">

                            <div id="skills" class="tab-pane active">
                                <div class="row">


                                <div class="col-md-6">
                                        <div class="prf-contacts">
                                            <h2> Languages</h2>
                                  <ul ng-repeat="language in languages">
                                    <li>{{language}}
                                  <ul>
                                        </div>
                                    </div>   

                                    <div class="col-md-6">
                                          
                                            
                                     </div>
                                


                                    
                                </div>
                             </div>   
                            <div id="experience" class="tab-pane">
                                <div class="row">
                                {{guider.skills.ownCar}}
                                </div>
                            </div>




                              <div id="contact" class="tab-pane">
                                  

                          <div ng-show="!loggedIn" class="alert alert-block alert-danger fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>Oh snap!</strong> You must first login/signup in order to view contact information. <i class="fa fa-hand-o-right"></i> <a href="#/login">  Please SignUp/LogIn</a>
                            </div>

                                  <div class="row" ng-if="loggedIn">
                                    <div class="col-md-6">
                                        <div class="prf-contacts">
                                            <h2> <span><i class="fa fa-map-marker"></i></span> Location</h2>
                                            <div class="location-info">
                                                <p>Address:<br>
                                                   {{guider.area}}<br>
                                                    {{guider.address.city}},  {{guider.address.state}} {{guider.address.zip}}</p>
                                
                                            </div>

                                          
                                        </div>
                                    </div>   

                                    <div class="col-md-6">
                                        <div class="prf-contacts">     
                                            <h2> <span><i class="fa fa-phone"></i></span> contacts</h2>
                                            <div class="location-info">
                                                <p>Phone    : {{guider.phone.phoneNumber}} <br>
                                                    </p>
                                                <p>Email        : 
                                                {{guider.email}}<br>
                                                    Skype       : </p>
                                               <!--  <p>
                                                    Facebook    : https://www.facebook.com/themebuckets <br>
                                                    Twitter : https://twitter.com/theme_bucket
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of col 6 -->

                                  </div> 
                              </div>
                          
                        </div>
                    </div><!-- end panel-body -->
            </section>
            </div><!-- end col 12 -->

            <!-- page end-->
        </section>
    </section>