<!--   <body class="login-body"> -->

  <div class="container">

    <form class="form-signin" action="index.html">
        <h2 class="form-signin-heading">sign in now</h2>
      <div class="login-wrap">
        <div class="user-login-info">
          <input type="text" class="form-control" placeholder="User ID" autofocus>
          <input type="password" class="form-control" placeholder="Password">
        </div>
      </div>


    </form>

      <div>     
        <a href="/auth/facebook"><button class="facebook-bnt my-fb-button"><i class="fa fa-facebook"></i>      Sign-up with facebook</button></a>

        <!-- <div class="registration">
          Don't have an account yet?
          <a class="" href="registration.html">
          Create an account
          </a>
        </div>  --> 
      </div>
        


  </div>