<!--   <body class="login-body"> -->

  <div class="container">

    <div class="form-signin" action="index.html">
        <h2 class="form-signin-heading">sign in now</h2>
      <div class="login-wrap">
        <div class="user-login-info">
          <a href="/auth/facebook"><button class="facebook-bnt my-fb-button"><i class="fa fa-facebook"></i>      Sign-up with facebook</button></a>
          <a href="/auth/facebook"><button class="facebook-bnt my-fb-button"><i class="fa fa-facebook"></i>      Login with facebook</button></a>
        </div>
      </div>


    </div>

      


  </div>